USE [QLDiemSV]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_POINT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_POINT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSTUDENT] [bigint] NULL,
	[IDDETAIL_TERM] [bigint] NULL,
	[IDREGIST_STUDENT] [bigint] NULL,
	[IDPOINT_PROCESS] [bigint] NULL,
	[TEST_SCORE] [float] NULL,
	[OVERALL_SCORE] [float] NULL,
	[NUMBER_TEST] [int] NULL,
	[STATUS] [bit] NULL,
	[ID_STAFF] [bigint] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_TERM]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_TERM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TERM] [bigint] NULL,
	[SEMESTER] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[ROOM] [nvarchar](255) NULL,
	[MAX_NUMBER] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT_PROCESS]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT_PROCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSTUDENT] [bigint] NULL,
	[IDDETAIL_TERM] [bigint] NULL,
	[IDREGIST_STUDENT] [bigint] NULL,
	[ATTENDANCE_POINT] [float] NULL,
	[COMPONENT_POINT] [float] NULL,
	[POINT_PROCESS] [float] NULL,
	[IDSTAFF] [bigint] NULL,
	[MIDTERM_POINT] [float] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGIST_STUDENT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIST_STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[DETAIL_TERM] [bigint] NULL,
	[RELEARN] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[START_DATE] [date] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[NUMBER_PHONE] [varchar](15) NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [varchar](50) NULL,
	[DEGREE] [nvarchar](255) NULL,
	[MAJOR] [int] NULL,
	[YEAROFWORK] [int] NULL,
	[POSITION] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_SUBJECT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_SUBJECT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDSTAFF] [bigint] NULL,
	[IDSUBJECT] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](20) NULL,
	[NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [date] NULL,
	[GENDER] [bit] NULL,
	[NUMBER_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[ADDRESS] [nvarchar](2000) NULL,
	[IMAGE] [nvarchar](2000) NULL,
	[SESSION] [int] NULL,
	[CLASSES] [int] NULL,
	[MAJOR] [int] NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
	[NAME_BANK] [varchar](50) NULL,
	[IDENTITY_CARD] [varchar](50) NULL,
	[CREATE_DATE_IDENTITY_CARD] [varchar](50) NULL,
	[PLACE_IDENTITY_CARD] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[DISTRICT] [varchar](50) NULL,
	[WARD] [varchar](50) NULL,
	[NATIONALITY] [varchar](50) NULL,
	[NATIONALS] [varchar](50) NULL,
	[NATION] [varchar](50) NULL,
	[PHONE_FAMILY] [varchar](50) NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[MAJOR] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHING_ASSIGNMENT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHING_ASSIGNMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DETAIL_TERM] [bigint] NULL,
	[STAFF] [bigint] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERM]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[COLLEGE_CREDIT] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STAFF]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STAFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STAFF] [bigint] NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varchar](20) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STUDENT]    Script Date: 22/05/2024 10:57:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varchar](20) NULL,
	[CREATE_BY] [bigint] NULL,
	[UPDATE_BY] [bigint] NULL,
	[CREATE_DATE] [nvarchar](450) NULL,
	[UPDATE_DATE] [nvarchar](450) NULL,
	[IS_DELETE] [datetime] NULL,
	[IS_ACTIVE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLASSES__AA1D43790B9F3598]    Script Date: 22/05/2024 10:57:55 SA ******/
ALTER TABLE [dbo].[CLASSES] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STUDENT__AA1D4379AD71E204]    Script Date: 22/05/2024 10:57:55 SA ******/
ALTER TABLE [dbo].[STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_STU__B15BE12EB50F3BEC]    Script Date: 22/05/2024 10:57:55 SA ******/
ALTER TABLE [dbo].[USER_STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[COURSE_POINT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[COURSE_POINT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[COURSE_POINT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TERM] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TERM] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[TERM] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[COURSE_POINT]  WITH CHECK ADD FOREIGN KEY([ID_STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[COURSE_POINT]  WITH CHECK ADD FOREIGN KEY([IDDETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[COURSE_POINT]  WITH CHECK ADD FOREIGN KEY([IDPOINT_PROCESS])
REFERENCES [dbo].[POINT_PROCESS] ([ID])
GO
ALTER TABLE [dbo].[COURSE_POINT]  WITH CHECK ADD FOREIGN KEY([IDREGIST_STUDENT])
REFERENCES [dbo].[REGIST_STUDENT] ([ID])
GO
ALTER TABLE [dbo].[COURSE_POINT]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_TERM]  WITH CHECK ADD FOREIGN KEY([SEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_TERM]  WITH CHECK ADD FOREIGN KEY([TERM])
REFERENCES [dbo].[TERM] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([IDDETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([IDREGIST_STUDENT])
REFERENCES [dbo].[REGIST_STUDENT] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([IDSTAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[REGIST_STUDENT]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[REGIST_STUDENT]  WITH CHECK ADD FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([POSITION])
REFERENCES [dbo].[POSITION] ([ID])
GO
ALTER TABLE [dbo].[STAFF_SUBJECT]  WITH CHECK ADD FOREIGN KEY([IDSTAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[STAFF_SUBJECT]  WITH CHECK ADD FOREIGN KEY([IDSUBJECT])
REFERENCES [dbo].[SUBJECT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([CLASSES])
REFERENCES [dbo].[CLASSES] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([SESSION])
REFERENCES [dbo].[SESSION] ([ID])
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[USER_STAFF]  WITH CHECK ADD FOREIGN KEY([STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
