@model DATN.Models.Major

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2>Thêm mới ngành học</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên ngành học</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
            </div>
        </form>
    </div>
</div>

