@model DATN.Models.Term

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2>Chi tiết học phần</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name" class="control-label">Tên học phần</label>
    <input asp-for="Name" readonly class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CollegeCredit" class="control-label">Số tín chỉ</label>
    <input asp-for="CollegeCredit" readonly class="form-control" />
    <span asp-validation-for="CollegeCredit" class="text-danger"></span>
</div>
<div class="form-group" >
    <label asp-for="CreateBy" class="control-label"></label>
    <input asp-for="CreateBy" readonly class="form-control" />
    <span asp-validation-for="CreateBy" class="text-danger"></span>
</div>
<div class="form-group" >
    <label asp-for="CreateDate" class="control-label"></label>
    <input asp-for="CreateDate" readonly class="form-control" />
    <span asp-validation-for="CreateDate" class="text-danger"></span>
</div>@* 
<div class="form-group">
    <label class="control-label">Xác nhận xóa</label>
    <input class="form-control" readonly @if (Model.IsDelete == true)
    {
        <text>value="Yes"</text>
    }
    else
    {
        <text>value="No"</text>
    }
    />

    <span asp-validation-for="IsDelete" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Hiển thị</label>
    <input class="form-control" readonly @if (Model.IsActive == true)
    {
        <text>value="Active"</text>
    }
    else
    {
        <text>value="Inactive"</text>
    }
    />
 <span asp-validation-for="IsActive" class="text-danger"></span>
            </div> *@
             
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
</div>
