@model DATN.Models.TeachingAssignment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2>Chi tiết phân công giảng dạy</h2>
<div class="row" >
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DetailTerm" class="control-label">Chi tiết học phần</label>
            <select asp-for="DetailTerm" readonly class="form-control" asp-items="ViewBag.DetailTerm"></select>
            <span asp-validation-for="DetailTerm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Staff" class="control-label">Tên giảng viên</label>
            <select asp-for="Staff"readonly class="form-control" asp-items="ViewBag.Staff"></select>
            <span asp-validation-for="Staff" class="text-danger"></span>
        </div>
       @*  <div class="form-group">
            <label asp-for="Status" class="control-label">Trạng thái</label>
            <input asp-for="Status"readonly class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div> *@
        <div class="form-group" >
            <label asp-for="CreateBy" class="control-label">Người tạo</label>
            <input asp-for="CreateBy"readonly class="form-control" />
            <span asp-validation-for="CreateBy" class="text-danger"></span>
        </div>
        <div class="form-group" >
            <label asp-for="CreateDate" class="control-label">Ngày tạo</label>
            <input asp-for="CreateDate"readonly class="form-control" />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>
@* 
            <div class="form-group">
                <label class="control-label">Xác nhận xóa</label>
                <input class="form-control" readonly @if (Model.IsDelete == true)
                {
                    <text>value="Yes"</text>
                }
                else
                {
                    <text>value="No"</text>
                }
                />

                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị</label>
                <input class="form-control" readonly @if (Model.IsActive == true)
                {
                    <text>value="Active"</text>
                }
                else
                {
                    <text>value="Inactive"</text>
                }
                />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div> *@
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Chỉnh sửa</a>
    <a asp-action="Index" asp-route-id="@Model?.Id" class="btn btn-secondary">Trở lại</a>
</div>